[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = "*"
pyjwt = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start = "uvicorn main:app --host 127.0.0.1 --port 8000 --reload"
